[submodule "public/lib/backbone"]
	path = public/lib/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "public/lib/underscore"]
	path = public/lib/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "public/lib/jasmine-jquery"]
	path = public/lib/jasmine-jquery
	url = git://github.com/velesin/jasmine-jquery.git
[submodule "public/lib/jquery-url-parser"]
	path = public/lib/jquery-url-parser
	url = git://github.com/allmarkedup/jQuery-URL-Parser.git
